<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="world_" default=""/>
    <include file="$(find twr_description)/launch/base_empty_world.launch">
        <arg name="x_twr" value="-38"/>
        <arg name="y_twr" value="43"/>
        <arg name="world_" value="$(arg world_)"/> 
    </include>


    <arg name="x_iris" default="-38.6" />
    <arg name="y_iris" default="43" />
    <arg name="z_iris" default="2.3" />
    
    <include file="$(find twr_description)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="arducopter" />
        <arg name="x" value="$(arg x_iris)" />
        <arg name="y" value="$(arg y_iris)" />
        <arg name="z" value="$(arg z_iris)" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(env HOME)/drone/ardupilot_gazebo/models/iris_with_ardupilot/model.sdf" />
    </include>

  
</launch>